{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/github",
            {
                "successComment": false,
                "failComment": false,
                "failTitle": false,
                "labels": false,
                "releasedLabels": false
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "cicd/tag_docker_container.sh ${nextRelease.version} ${nextRelease.gitHead}",
                "publishCmd": "cicd/deploy_to_ecs.sh ${nextRelease.version} dev-portal-be dvp-dev"
            }
        ]
    ]
}
