{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/github",
            {
                "successComment": false,
                "failComment": false,
                "failTitle": false,
                "labels": false,
                "releasedLabels": false
            }
        ],
        [
            "@semantic-release/exec",
            {
                "execCwd": 'cicd",
                "prepareCmd": "tag_docker_container.sh ${nextRelease.version} ${CODEBUILD_SOURCE_VERSION}",
                "publishCmd": "deploy_to_ecs.sh ${nextRelease.version} dev-portal-be dvp-dev
            }
        ]
    ]
}
